<link rel="stylesheet" href="../static/css/swiper.min.css">
<link rel="stylesheet" href="../static/css/index.css">
    <!-- 首页轮播图开始 -->
    <div class="banner">
        <div class="banner-content">
            <div class="swiper-container" id="bigBox">
                <div class="swiper-wrapper">
                    <div class="banner-item swiper-slide">
                        <div class="bannerbj bannerbj1"></div>
                    </div>
                    <div class="banner-item swiper-slide">
                        <div class="bannerbj bannerbj2"></div>
                    </div>
                    <div class="banner-item swiper-slide">
                        <div class="bannerbj bannerbj3"></div>
                    </div>
                    <div class="banner-item swiper-slide">
                        <div class="bannerbj bannerbj4"></div>
                    </div>
                    <div class="banner-item swiper-slide">
                        <div class="bannerbj bannerbj5"></div>
                    </div>
                </div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <!--左箭头。如果放置在swiper-container外面，需要自定义样式。-->
                <div class="swiper-button-next swiper-button-white"></div>
                <!--右箭头。如果放置在swiper-container外面，需要自定义样式。-->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!-- 首页轮播图结束 -->
    <!-- 首页中间部分开始 -->
    <div class="container center">
        <div class="center-content">
            <!-- 首页购房服务开始 -->
            <div class="serve row">
                <div class="serve-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>我们的努力，只是为了您的满意</span>
                </div>
                <div class="serve-word col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>我们为您提供一个优质放心购买的家居平台</span>
                </div>
            </div>
            <div class="serve-content row">
                <div class="serve-item col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="serve-item-img">
                        <img src="../static/img/fuwuxiangmu/服务项目木制餐桌.jpg" alt="">
                    </div>
                    <div class="serve-item-name">
                        <span>定制餐桌</span>
                    </div>
                    <div class="serve-item-line">
                        <img src="../static/img/index/serve1-1.png" alt="">
                    </div>
                    <div class="serve-span">
                        <span>客厅沙发是一种家具，主要放置于客厅中。沙发的选择与客厅的气氛、品位、格调的关系极为密切，作为客厅内最为抢眼的大型家具，应与天花板、墙壁、地面、门窗颜色风格统一，达到协调的效果。</span>
                    </div>
                </div>
                <div class="serve-item col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="serve-item-img">
                        <img src="../static/img/fuwuxiangmu/服务项目灰色沙发.jpg" alt="">
                    </div>
                    <div class="serve-item-name">
                        <span>定制沙发</span>
                    </div>
                    <div class="serve-item-line">
                        <img src="../static/img/index/serve1-1.png" alt="">
                    </div>
                    <div class="serve-span">
                        <span>客厅沙发是一种家具，主要放置于客厅中。沙发的选择与客厅的气氛、品位、格调的关系极为密切，作为客厅内最为抢眼的大型家具，应与天花板、墙壁、地面、门窗颜色风格统一，达到协调的效果。</span>
                    </div>
                </div>
                <div class="serve-item col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="serve-item-img">
                        <img src="../static/img/fuwuxiangmu/服务项目绿色沙发.jpg" alt="">
                    </div>
                    <div class="serve-item-name">
                        <span>沙发养护</span>
                    </div>
                    <div class="serve-item-line">
                        <img src="../static/img/index/serve1-1.png" alt="">
                    </div>
                    <div class="serve-span">
                        <span>客厅沙发是一种家具，主要放置于客厅中。沙发的选择与客厅的气氛、品位、格调的关系极为密切，作为客厅内最为抢眼的大型家具，应与天花板、墙壁、地面、门窗颜色风格统一，达到协调的效果。</span>
                    </div>
                </div>
                <div class="serve-item col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="serve-item-img">
                        <img src="../static/img/fuwuxiangmu/服务项目白色沙发.jpg" alt="">
                    </div>
                    <div class="serve-item-name">
                        <span>沙发翻新</span>
                    </div>
                    <div class="serve-item-line">
                        <img src="../static/img/index/serve1-1.png" alt="">
                    </div>
                    <div class="serve-span">
                        <span>客厅沙发是一种家具，主要放置于客厅中。沙发的选择与客厅的气氛、品位、格调的关系极为密切，作为客厅内最为抢眼的大型家具，应与天花板、墙壁、地面、门窗颜色风格统一，达到协调的效果。</span>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <!-- 首页购房服务结束 -->
            <!-- 首页公司简介开始 -->
            <div class="center-title row">
                <div class="center-title-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>引领时代，畅享家居</span>
                </div>
                <div class="center-title-img col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="../static/img/index/title.png" alt="">
                </div>
            </div>
            <div class="center-introduce row">
                <div class="center-introduce-img col-lg-3 col-md-3  col-xs-12">
                    <img class="center-introduce-img-img" src="../static/img/aboutus/aboutus2" alt="">
                </div>
                <div class="center-introduce-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="center-introduce-contents ">
                        <div class="introduce-content-top">
                            <a href="aboutus.html">
                                <div class="introduce-top-title">
                                    公司简介
                                </div>
                            </a>
                            <a href="aboutus.html">
                                <div class="introduce-top-more">
                                    MORE +
                                </div>
                            </a>
                            <div style="clear: both"></div>
                            <div class="introduce-content-line">
                            </div>
                        </div>

                        <div class="introduce-content-word">
                            <span>wehome——中国家居建材新零售引领者。集线上产品展示、管理、下单为一体，配合线下门店一对一服务，助力传统家居实体经济升级，打造泛家居新零售生态体系。</span>
                            <div class="introduce-content-blank">

                            </div>
                            <span>wehome运用C2M2B的模式补齐传统家居模式短板，快速占领全国家居市场，成为互联网家居建材市场上冉冉升起的明日之星。以消费者为主导，助力传统家居实体经济升级，打造家居新零售生态体系。线上选购，线下体验，就近体验，提供一站式有感家居购物场景，让消费者省心、省时、省力、省事、省钱。通过虎居全国加盟线下体验店渠道，全方位解决品牌厂家经销、分销渠道拓展和信息化管理等痛点问题，传统门店智慧升级打造泛家居新零售门店，满足消费者全维度运提升实体门店客流量和销量。</span>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>

            <!-- 首页公司简介结束 -->
            <!-- 首页房屋知识开始 -->
            <div class="center-house row">
                <div class="center-house-word col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="center-house-content">
                        <div class="introduce-content-top">
                            <a href="news.html">
                                <div class="introduce-top-title">
                                    家居美容
                                </div>
                            </a>
                            <a href="news.html">
                                <div class="introduce-top-more">
                                    MORE +
                                </div>
                            </a>
                            <div style="clear: both"></div>
                            <div class="introduce-content-line">
                            </div>
                        </div>
                        <div class="center-house-docx">
                            <ul>
                                <li class="center-house-item">
                                    <div class="house-item-box">
                                        <a href="news-one.html">实木指接板</a>
                                        <span>2015-01-20</span>
                                    </div>
                                </li>
                                <li class="center-house-item">
                                    <div class="house-item-box">
                                        <a href="news-two.html">大亚实木颗粒板</a>
                                        <span>2015-01-20</span>
                                    </div>
                                </li>
                                <li class="center-house-item">
                                    <div class="house-item-box">
                                        <a href="news-three.html">多层实木板</a>
                                        <span>2015-01-20</span>
                                    </div>
                                </li>
                                <li class="center-house-item">
                                    <div class="house-item-box">
                                        <a href="news-four.html">三聚氰氨饰面</a>
                                        <span>2015-01-20</span>
                                    </div>
                                </li>
                                <li class="center-house-item">
                                    <div class="house-item-box">
                                        <a href="news-five.html">实木皮饰面</a>
                                        <span>2015-01-20</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="center-house-img col-lg-3 col-md-3">
                    <img class="center-house-img-img" src="../static/img/index/jiaju1.jpg" alt="">
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <!-- 首页房屋知识结束 -->


    <!-- 首页中间部分结束 -->
    <!-- 底部开始 -->
    <footer>
        <div class="hhh container">
            <div class="row">
                <div class="footer-   col-md-4">
                    <h5 style="color: #FF6000"><b>一店地址</b></h5>
                    <div class="kong" style="height: 24px;"></div>
                    <p>门店地址：太原市平阳路学府街口25号</p>
                    <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                    <div class="kong" style="height: 24px;"></div>
                    <strong style="font-size:15px;color:#7f7d7d;">营业时间：</strong>
                    <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                    <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
                </div>
                <div class="footer-   col-md-4">
                    <h5 style="color: #FF6000"><b>二店地址</b></h5>
                    <div class="kong" style="height: 24px;"></div>
                    <p>门店地址：上海市松江区佘山林荫大道18号</p>
                    <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                    <div class="kong" style="height: 24px;"></div>
                    <strong style="font-size:15px;color:#7f7d7d;">营业时间：</strong>
                    <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                    <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
                </div>
                <div class="footer-   col-md-4">
                    <h5 style="color: #FF6000"><b>三店地址</b></h5>
                    <div class="kong" style="height: 24px;"></div>
                    <p>门店地址：西安市经济技术开发区101号</p>
                    <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                    <div class="kong" style="height: 24px;"></div>
                    <strong style="font-size:15px;color:#7f7d7d;">营业时间：</strong>
                    <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                    <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- 版权开始 -->
    <div class="footer-copy">
        <ul class="footer-icon">
            <li class="icon-item"><i class="iconfont iconqq"></i></li>
            <li class="icon-item"><i class="iconfont iconweixin1"></i></li>
            <li class="icon-item"><i class="iconfont iconxiaoxi1"></i></li>
            <li class="icon-item"><i class="iconfont icondianhua"></i></li>
            <li class="icon-item"><i class="iconfont icon7"></i></li>
        </ul>
        <div class="copy-text">版权所有 2019-2020 WeHome工作室 技术支持：起飞页</div>
        <div class="anniu" onclick="topFunction()">
            <i class="iconfont iconshang"></i>
        </div>
    </div>
</body>

</html>
<script src="../static/js/swiper.min.js"></script>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/js/index.js"></script>
