<link rel="stylesheet" href="./css/news.css">
    <!-- 头部结束 -->
    <div style="width: 100%;height:20px "></div>
    <div class="banner ">
        <div class="container ">
            <div class="row ">
                <div class="img col-lg-12 col-sm-12 col-xs-12 ">
                    <img src="./img/news/1.png " alt=" ">
                </div>
            </div>
            <div class="container ">
                <div class="row ">
                    <div class="conserve ">
                        <div class="conserve-wire col-lg-5 col-md-5 col-sm-5 col-xs-5 "></div>

                        <div class="conserve-text col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                            <div><?php echo $nav['nname'];?></div>
                            <div class="con-text-eng "><?php echo $nav['ename'];?></div>
                        </div>
                        <div class="conserve-wire col-lg-5 col-md-5 col-sm-5 col-xs-5 "></div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <ul class="message col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                    <li class="message-content ">
                        <div><a href="news-one.html ">实木指接板</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-two.html ">大亚实木颗粒板</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-three.html ">多层实木板</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-four.html ">三聚氰氨饰面</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-five.html ">实木皮饰面</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-six.html ">封边知识</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                </ul>
            </div>
            <div class="row ">
                <div class="img img1 col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                    <img src="./img/news/2.png " alt=" ">
                </div>
            </div>

        </div>

    </div>
    </div>
    <div style="width: 100%;height:120px "></div>
    <!-- 底部开始 -->
    <footer>
        <div class="hhh container ">
            <div class="row ">
                <div class="footer- col-md-4 ">
                    <h5 style="color: #FF6000 "><b>一店地址</b></h5>
                    <div class="kong " style="height: 24px; "></div>
                    <p>门店地址：太原市平阳路学府街口25号</p>
                    <p>预约电话：<strong style="color:#FF6000; ">400-562-6654 </strong></p>
                    <div class="kong " style="height: 24px; "></div>
                    <strong style="font-size:15px;color:#7f7d7d; ">营业时间：</strong>
                    <p style="font-size: 12px ">周一 ~周五：上午9:30-下午8:00 </p>
                    <p style="font-size: 12px ">周六、周日：上午10:00-下午9:00</p>
                </div>
                <div class="footer- col-md-4 ">
                    <h5 style="color: #FF6000 "><b>二店地址</b></h5>
                    <div class="kong " style="height: 24px; "></div>
                    <p>门店地址：上海市松江区佘山林荫大道18号</p>
                    <p>预约电话：<strong style="color:#FF6000; ">400-562-6654 </strong></p>
                    <div class="kong " style="height: 24px; "></div>
                    <strong style="font-size:15px;color:#7f7d7d; ">营业时间：</strong>
                    <p style="font-size: 12px ">周一 ~周五：上午9:30-下午8:00 </p>
                    <p style="font-size: 12px ">周六、周日：上午10:00-下午9:00</p>
                </div>
                <div class="footer- col-md-4 ">
                    <h5 style="color: #FF6000 "><b>三店地址</b></h5>
                    <div class="kong " style="height: 24px; "></div>
                    <p>门店地址：西安市经济技术开发区101号</p>
                    <p>预约电话：<strong style="color:#FF6000; ">400-562-6654 </strong></p>
                    <div class="kong " style="height: 24px; "></div>
                    <strong style="font-size:15px;color:#7f7d7d; ">营业时间：</strong>
                    <p style="font-size: 12px ">周一 ~周五：上午9:30-下午8:00 </p>
                    <p style="font-size: 12px ">周六、周日：上午10:00-下午9:00</p>
                </div>
            </div>

        </div>
    </footer>
    <!-- 版权开始 -->
    <div class="footer-copy ">
        <ul class="footer-icon ">
            <li class="icon-item "><i class="iconfont iconqq "></i></li>
            <li class="icon-item "><i class="iconfont iconweixin1 "></i></li>
            <li class="icon-item "><i class="iconfont iconxiaoxi1 "></i></li>
            <li class="icon-item "><i class="iconfont icondianhua "></i></li>
            <li class="icon-item "><i class="iconfont icon7 "></i></li>
        </ul>
        <div class="copy-text ">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
        <div class="anniu " onclick="topFunction() ">
            <i class="iconfont iconshang "></i>
        </div>
    </div>


</body>
<script src="./js/common.js "></script>
<script src="./js/jquery-3.4.1.min.js "></script>
</html>
