<?php
    $cate = [['id'=>0,'cname'=>'全部']];
    $sql = "select * from category order by id asc";
    $cate1 = $mysql->query($sql)->fetch_all(MYSQLI_ASSOC);

    $cate = array_merge($cate,$cate1);
    $sql = "select * from goods";
    $all = $mysql->query($sql)->fetch_all(MYSQLI_ASSOC);
    $len = count($cate);
    for($i=0;$i<$len;$i++){
        $items = $cate[$i];
        $id = $items['id'];
        if($i == 0){
           $cate[$i]['goods'] = $all;
           continue;
        }
       $goods = array_filter($all,function($v) use($id){
           return  $v['cid'] == $id;
        });
       $cate[$i]['goods'] = $goods;
}
?>
<link rel="stylesheet" href="../static/css/product.css">
<!-- banner -->
<div class="container banner">
    <div class="images">
        <img src="../static/img/product/banner.jpg" alt="">
    </div>
</div>
<!-- 标题-->
<div class="container title1">
    <div class="b-box">
        <!-- <div class="row"> -->
        <div class="title">
            <span class="line-left"></span>
            <div class="word">
                <p class="main"><?php echo $nav['nname'];?></p>
                <p class="sub"><?php echo $nav['ename'];?></p>
            </div>
            <span class="line-right"></span>
        </div>
        <!-- </div> -->
    </div>
</div>
<!-- 列表 -->
<div class="container list1">
    <div class="L-box">
        <ul class="list">
            <?php  foreach($cate as $key=>$v){?>
              <li class="items <?php echo $key==0?'active':'' ?>">
                <span><?php echo $v['cname'];?></span>
                <div class="content box-style">
                    <?php foreach($v['goods'] as $value){?>
                      <div class="shop">
                        <div class="shoplist">
                            <div class="shoppic">
                                <div class="shoppicture">
                                    <a href="item.html">
                                        <img src="<?php echo $value['thumb'];?>" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="shopword">
                                <a class="word1" href="item.html">
                                    <?php echo $value['gname'];?>
                                </a>
                            </div>
                        </div>
                    </div>
                    <?php }?>

                </div>
            </li>
            <?php }?>
        </ul>
    </div>
</div>
<div class="content" style="height: 900px;"></div>
<!-- 底部开始 -->
<footer>
    <div class="hhh container">
        <div class="row">
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>一店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：太原市平阳路学府街口25号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#7f7d7d;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>二店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：上海市松江区佘山林荫大道18号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#7f7d7d;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>三店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：西安市经济技术开发区101号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#7f7d7d;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
        </div>

    </div>
</footer>
<!-- 版权开始 -->
<div class="footer-copy">
    <ul class="footer-icon">
        <li class="icon-item"><i class="iconfont iconqq"></i></li>
        <li class="icon-item"><i class="iconfont iconweixin1"></i></li>
        <li class="icon-item"><i class="iconfont iconxiaoxi1"></i></li>
        <li class="icon-item"><i class="iconfont icondianhua"></i></li>
        <li class="icon-item"><i class="iconfont icon7"></i></li>
    </ul>
    <div class="copy-text">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
    <div class="anniu" onclick="topFunction()">
        <i class="iconfont iconshang"></i>
    </div>
</div>
<script src="../static/js/product.js"></script>

</body>

</html>


